id=psasi@d-lonso
name=The PSASI
version=0.1.0.277
ffMinVersion=17
ffMaxVersion=*
description=The most practiced setup and simplest installation
creator=Diego Sanguinetti
updateKey=MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDrW6nrw++/HXARgXkHKEM+0iqQo6H0bM5j1q8yGXVCV1Mwh9ms7lNEuKsn1Fw1xvXBIVUpXTTn8hAfSh4bg9OjLfvOaUTX6jnzX/S8uA5lzZnULC/SfIzEwXV4E0dVh36S58JoAZzbFIxw2oVKM3bHuEV8OrgHC0+Z4D03OKVk4wIDAQAB
iconURL=C:\Users\usuario\Desktop\addons-dev\logo.png
filename=psasi
hidden=true
OrganizationName=PSASI
HomePageURL=http://duckduckgo.com
noWelcomePage=true
SearchEngine1=C:\Users\usuario\Downloads\ddg-google-encrypted.xml
SearchEngineIcon1=
ToolbarLocation=Last
BookmarkLocation=Last
PreferenceName1=privacy.donottrackheader.enabled
PreferenceValue1=true
PreferenceType1=boolean
networkProxyType=100
networkProxyHTTP_Port=0
networkProxySSL_Port=0
networkProxyFTP_Port=0
networkProxySOCKS_Port=0
